{% extends "base.html" %}

{% load i18n %}

{% block meta %}{% endblock %}

{% block title %} MT - Cerrar sesion {% endblock %}

{% block css %}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
{% load static %}


<div class="container">
    <div class="text-center">
		<h1>Cerrar sesion</h1>
        <p>Se ha completado exitosamente.</p>
		<hr>
	</div>
    <div class="row">
        <div class="text-center">
                <a href="{% url 'user:index' %}"><button class="btn btn-warning">Regresar a Inicio</button></a>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock %}