{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block meta %}{% endblock %}
{% block title %} Reestablecimiento completo {% endblock %}
{% block css %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <h1 class="text-left" style="float: right"><strong>Restablecimiento de contraseña</strong></h1>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="{% url 'user:index' %}"><img src="{% static 'img/logo_small.png' %}" class="img-responsive" style="float: right;"></a>
        </div>
    </div>
    <hr>
    <p class="text-center">{% trans "Su contraseña ha sido restablecida correctamente." %}</p>
    <div class="text-center">
        <a href="{% url 'auth_login' %}"><button class="btn btn-warning">Iniciar sesion</button></a>
    </div>
    <hr>
</div>
{% endblock %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock %}