{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block meta %}{% endblock %}
{% block title %} Contraseña - restauracion {% endblock %}
{% block css %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
{% load static %}
 {% if validlink %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <h1 class="text-left" style="float: right"><strong>Restaurar su contraseña</strong></h1>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a href="{% url 'user:index' %}"><img src="{% static 'img/logo_small.png' %}" class="img-responsive" style="float: right;"></a>
            </div>
        </div>
        <hr>
        <div class="jumbotron">
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
              <div class="col-lg-6">
                  {{ form | crispy }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-6">
                  <button type="submit" class="btn btn-warning btn-md" style="margin-top: 23px;">Reestaurar</button>
                </div>
            </div>
        </form>
        </div>
        <hr>
    </div>
 {% else %}

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <h1 class="text-left" style="float: right"><strong>Enlace Invalido</strong></h1>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a href="{% url 'user:index' %}"><img src="{% static 'img/logo_small.png' %}" class="img-responsive" style="float: right;"></a>
            </div>
        </div>
        <hr>
        <p class="text-center">{% trans "No se ha solicitado restauracion de contraseña, no se pase de liso, gracias." %}</p>
        <div class="text-center">
            <a href="{% url 'user:index' %}"><button class="btn btn-warning">Regresar a Inicio</button></a>
        </div>
        <hr>
    </div>

 {% endif %}

 {% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}