{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block meta %}{% endblock %}
{% block title %} MT - Restablecimiento {% endblock %}
{% block css %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <div class="text-center">
		<h1>Restablecimiento de contraseña</h1>
        <p>Hemos enviado un email con instrucciones para restablecer su contraseña.</p>
		<hr>
	</div>
    <div class="row">
        <div class="text-center">
                <a href="{% url 'user:index' %}"><button class="btn btn-warning">Regresar a Inicio</button></a>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock %}